<mat-card style="margin: 50px">
  <mat-card-header>
    <mat-card-title>
      {{getTitle()}}
    </mat-card-title>
    <mat-card-subtitle>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <mat-icon>{{result?.attr.lock_switch === 0 ? 'lock_open' : 'lock'}}</mat-icon>
          <mat-icon *ngIf="result?.attr.mode === 'cft'" svgIcon="white-balance-sunny"></mat-icon>
          <mat-icon *ngIf="result?.attr.mode === 'eco'" svgIcon="weather-night"></mat-icon>
          <mat-icon *ngIf="result?.attr.mode === 'fro'" svgIcon="snowflake"></mat-icon>
          <mat-icon *ngIf="result?.attr.mode === 'off'" svgIcon="power-plug-off"></mat-icon>
        </div>
        <div>Last Update : {{(result?.updated_at) * 1000 | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
      </div>

    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-scheduler-calendar [scheduler]="result"></app-scheduler-calendar>
  </mat-card-content>
</mat-card>
